<div class="container-fluid cod-accordian">
    <h3 class="text-center pt-5">WE OFFER</h3>
    <div class="row">
        <div class="col-sm-4 container text-center pt-4">
            <h3 class="display-1">
                <i class="fas fa-shield-alt"></i>
            </h3>
            <p>
                SAFE PAYMENT
            </p>
        </div>
        <div class="col-sm-4 container text-center pt-4">
            <h3 class="display-1">
                <i class="fas fa-truck"></i>
            </h3>
            <p>
                EXPRESS DELIVERY
            </p>
        </div>
        <div class="col-sm-4 container text-center pt-4">
            <h3 class="display-1">
                <i class="fas fa-smile"></i>
            </h3>
            <p>
                24/7 SUPPORT
            </p>
        </div>
    </div>
</div>