<div class="row">
    <div class="col-sm-4 container text-center pt-4">
        <h2 class="display-1">
            <i class="fas fa-shield-alt"></i>
        </h2>
        <p>
            FAST & SECURE
        </p>
    </div>
    <div class="col-sm-4 container text-center pt-4">
        <h2 class="display-1">
            <i class="fas fa-truck"></i>
        </h2>
        <p>
            FREE DELIVERY
        </p>
    </div>
    <div class="col-sm-4 container text-center pt-4">
        <h2 class="display-1">
            <i class="fas fa-smile"></i>
        </h2>
        <p>
            CONTACTLESS
        </p>
    </div>
</div>