<div class="container-fluid pt-5 footer">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group list-group-flush footer-list">
                <li class="list-group-item footer-list-item">First item</li>
                <li class="list-group-item footer-list-item">Second item</li>
                <li class="list-group-item footer-list-item">Third item</li>
              </ul>
        </div>
        <div class="col-sm-4">
            <ul class="list-group list-group-flush footer-list">
                <li class="list-group-item footer-list-item">First item</li>
                <li class="list-group-item footer-list-item">Second item</li>
                <li class="list-group-item footer-list-item">Third item</li>
              </ul>
        </div>
        <div class="col-sm-4">
            <h3>CRAZY OVER DONUTS</h3>
            <small>All Rights Reserved! Copyright &copy; 2020</small>
        </div>
    </div>
</div>