<div class="container-fluid pt-5 pb-5 footer">
    <div class="row">
        <div class="col-sm-4">
            <ul class="list-group list-group-flush footer-list">
                <li class="list-group-item footer-list-item">FAQs</li>
                <li class="list-group-item footer-list-item">Our Mission</li>
                <li class="list-group-item footer-list-item">About us</li>
              </ul>
        </div>
        <div class="col-sm-4">
            <app-newsletter-box></app-newsletter-box>
        </div>
        <div class="col-sm-4">
            <h3>Carzy Over Donuts</h3>
            <p><i class="fas fa-envelope"></i> support@cod.com</p>
            <p><i class="fas fa-phone"></i> +918800000000</p>
            <p><small>Copyright &copy; 2020. All Rights Reserved. </small></p>
        </div>
    </div>
</div>