.cod-upcoming {
    background-image: url('../../assets/bgimg/background_new_arrival.png');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color: #C0A886;
    box-shadow: inset 0px 5px 8px #000000;
    height: 100%;
}