.right-box {
    background-color: #C0A886;
    color: black;
    padding: 0px;
    margin: 0px;
}

.right-box-desc {
    padding: 120px 0px 20px 20px;
    text-align: left;
    font-family: 'Tajawal', sans-serif;
}
.col-sm-3{
    padding-right: 0px;
}