.right-box {
    background-color: #C0A886;
    color: black;
    padding: 0px;
    margin: 0px;
}

.right-box > div:nth-child(1) {
    margin: auto;
}

.right-box-desc {
    text-align: left;
    font-family: 'Tajawal', sans-serif;
}
.col-sm-3 {
    padding-right: 0px;
}

.blockquote-footer {
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}