.right-box {
    background-color: aliceblue;
    color: black;
    padding-right: 0px;
    margin-right: 0px;
}

.right-box-desc {
    padding: 120px 0px 20px 20px;
    text-align: left;
}
.col-sm-3{
    padding-right: 0px;
}