<app-header-inner></app-header-inner>
<div class="container-fluid">
    <div class="container mt-5 mb-5">
        <h3>Cart</h3>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">Product Id</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products">
                    <td>{{product.guid}}</td>
                    <td>{{product.title}}</td>
                    <td>{{product.quantity}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<app-footer></app-footer>