    <h3>Order Product</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Qty</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>
                   <p>
                    <b>
                        {{product.title}}
                    </b>
                   </p>
                    <p>
                        <small>
                            {{product.guid}}
                        </small>
                    </p>
                </td>
                <td>{{product.quantity}}</td>
                <td><i class="fas fa-rupee-sign"></i> {{product.price}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Subtotal</b>
                </td>
                <td><i class="fas fa-rupee-sign"></i> 2800</td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Discount Applied</b>
                </td>
                <td><i class="fas fa-rupee-sign"></i> -300</td>
            </tr>
            <tr>
                <td colspan="2">
                    <b>Total Price</b>
                </td>
                <td><i class="fas fa-rupee-sign"></i> 2300</td>
            </tr>
        </tbody>
    </table>