<div class="container">
  <div>
    <h1>Chocolate Frosted Doughnut</h1>
    <p>Covered with chocolate layer and sprinkles, this doughnut is definitely for chocolate lovers.</p>
    <h2>Price: <strong class="price">Rs. 200/-</strong></h2>
    <dl>
        <dt>Coffee</dt>
        <dd>- black hot drink</dd>
        <dt>Milk</dt>
        <dd>- white cold drink</dd>
      </dl>  
      <div>
        <div>
          <h1>Strawberry Frosted Doughnut</h1>
          <p>With fresh strawberries baked in, and a sweet, tangy pink strawberry icing, these are a perfect treat for breakfast.</p>
          <h2>Price: <strong class="price">Rs. 200/-</strong></h2>
          <dl>
              <dt>Coffee</dt>
              <dd>- black hot drink</dd>
              <dt>Milk</dt>
              <dd>- white cold drink</dd>
            </dl>  
            <div>

</div>