<div class="container-fluid row left-box">
    <div class="col-sm-3">
        <img class="img-fluid d-block " src="assets/img/1.jpg" width="100%" height="auto" />
    </div>
    <div class="col-sm-9">
        <blockquote class="blockquote left-box-desc">
            <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
            <footer class="blockquote-footer">
                From WWF's website
            </footer>
          </blockquote>
    </div>
</div>