<div class="container-fluid row left-box">
    <div class="col-sm-3 mt-5 mb-5">
        <img class="img-fluid rounded-circle" src="assets/img/1.png" width="100%" height="auto" />
    </div>
    <div class="col-sm-9">
        <blockquote class="blockquote left-box-desc">
            <p>From 30 years, We are using there products its amazing. The world's leading conservation organization, WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million globally.</p>
            <footer class="blockquote-footer">
                Vikas Dubey (Gurgaon)
            </footer>
          </blockquote>
    </div>
</div>