/* You can add global styles to this file, and also import other style files */

html {
    scroll-behavior: smooth;
  }

  body { 
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
    } 
} 

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 150;
}

.cod-light-bg {
    background-color: #C0A886;
}

.cod-light-bg .table-bordered td, .table-bordered th {
    border: 1px solid #593820;
}

.cod-light-bg .table-bordered th {
    border-bottom: 2px solid #593820;
}

/* .btn-primary {
    background-color: #593820;
    border-color: #593820;
    color: #C0A886;
}

.btn-primary:hover {
    background-color: #261102;
    border-color: #261102;
    color: #E5D2B9;
} */
